<h1>Purchases from the last <%= Setting.weeks %> weeks</h1>

<ul>
  <% @purchases.where(purchase_date: Setting.weeks.weeks.ago..Date.current).each do |purchase| %>
    <li>
        <%= link_to purchase.purchase_date, purchase %>
        $<%= purchase.total%>
    </li>
  <% end %>

  <%= link_to "New purchase", "/stores" %>
</ul>