<tr>
  <td>
    <%= item.name %>
  </td>
  <td>
    $<%= item.price %>
  </td>
  <td>
    <%= link_to "Delete", item, data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure?"
    } %>
  </td>
</tr>