/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

 .btn {
    width: 400px;
    margin-top: 5px;
 }
 
 .form-control {
    width: 400px;
 }

 form {
    margin-bottom: 20px;
 }

 .form-group label {
    margin-top: 10px;
 }

 table {
    border: 1px solid black;
    width: 400px;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
 }

 td, th {
    padding: 3px 2px;
    border: 1px solid black;
 }

 tr:nth-child(even) {
    background: #dadeff;
 }

 thead tr:first-child {
    background:  #dadeff;
 }

 .list-group {
   width: 400px;
   margin-bottom: 15px;
 }

 .list-group-item:hover {
   background-color: lightblue;
 }

 .sidenav {
   height: 100%;
   width: 180px;
   position: fixed;
   z-index: 1;
   top: 0;
   left: 0;
   background-color: #141416;
   overflow-x: hidden;
   padding-top: 20px;
 }
   
 .sidenav a {
   padding: 6px 8px 6px 16px;
   text-decoration: none;
   font-size: 25px;
   color: #dadada;
   display: block;
 }
   
 .sidenav a:hover {
   color: #868686;
 }

 .main {
   margin-top: 20px;
   margin-left: 225px;
   padding: 0px 10px;
 }

 ul {
   list-style: none;
 }